body {
    background-color: #050a05;
    color: #20c20e;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    margin: 0;
    text-transform: uppercase;
}

/* CRT Effekt & Scanlines */
.crt-overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), 
                linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 4px, 3px 100%;
    pointer-events: none;
    z-index: 10;
}

.scanline {
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(32, 194, 14, 0.1) 50%, rgba(0,0,0,0) 100%);
    opacity: 0.1;
    position: absolute;
    bottom: 100%;
    animation: scanline 8s linear infinite;
}

@keyframes scanline {
    0% { bottom: 100%; }
    100% { bottom: -100%; }
}

.terminal-container {
    padding: 20px;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 2px solid #20c20e;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

#terminal-output {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 20px;
    text-shadow: 0 0 5px #20c20e;
}

.input-line { display: flex; align-items: center; }
#user-input {
    background: transparent;
    border: none;
    color: #20c20e;
    font-family: inherit;
    font-size: 1.1rem;
    outline: none;
    width: 100%;
    margin-left: 10px;
}